
<!-- FORMULÃRIO DE CADASTRO DE CLIENTE -->

    <div class="container">
        <h1 class="my-4 text-center">Cadastro de Clientes</h1>
        <form id="cadastroClientes" class="row g-3 mt-4">
            <div class="mb-3 form-floating col-md-12">
                <input type="text" class="form-control" id="nomeCliente" placeholder="Digite o nome do cliente">
                <label for="nomeCliente">Nome do Cliente</label>
            </div>
            <div class="form-floating col-md-6 mb-3">
                <input type="text" class="form-control" id="cpfCnpj" placeholder="Digite o CPF ou CNPJ">
                <label for="cpfCnpj">CPF/CNPJ</label>
            </div>
            <div class="col-md-6 mb-3 form-floating">
                <input type="text" class="form-control" id="contato" placeholder="Digite o telefone ou e-mail">
                <label for="contato">Contato</label>
            </div>
            <div class="text-center">   
                <button type="submit" class="btn btn-primary col-md-4 p-2">Cadastrar</button>
            </div>
        </form>
    </div>

