
<!-- FORMULÁRIO DE CADASTRO DE CLIENTE -->
<!-- {nm_cliente, cgc, contato} -->
<div class="container">
    
    <h1 class="my-4 text-center">Cadastro de Clientes</h1>
    <hr>
        <form action="/cliente" method="post" id="cadastroClientes" class="row g-3 mt-4">
            <div class="mb-3 form-floating col-md-4">
                <input type="text" class="form-control" id="nm_cliente" name="nm_cliente" placeholder="Digite o nome do cliente">
                <label for="nm_cliente">Nome do Cliente</label>
            </div>
            <div class="form-floating col-md-2 mb-3">
                <input type="text" class="form-control" id="cgc" name="cgc" placeholder="Digite o CPF ou CNPJ">
                <label for="cgc">CPF/CNPJ</label>
            </div>
            <div class="col-md-3 mb-3 form-floating">
                <input type="text" class="form-control" id="email" name="email" placeholder="Digite o telefone ou e-mail">
                <label for="email">Email</label>
            </div>
            <div class="col-md-2 mb-3 form-floating">
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite o telefone ou e-mail">
                <label for="telefone">Telefone</label>
            </div>
            <!-- <div class="text-center">    -->
                <button class="btn btn-primary rounded-circle btn-icon-only" alt="Incluir novo cliente" style="width: 50px; height: 50px;">
                    <i class="bi bi-plus fw-bold">+</i>
                  </button>
                  
                  
            <!-- </div> -->
        </form>
        <hr>
        
        <div class="row">
            <div class="col-md-5 mb-3 form-floating">
              <input onkeyup="atualizaTabelaAposPesquisa()" type="text" class="form-control" id="searchClient" name="searchCliente" placeholder="Digite o telefone ou e-mail">
              <label for="telefone">Pesquisar</label>
            </div>
            <div class="form-floating col-md-2 mb-3">
              <select class="form-select" id="searchItem" required>
                <option value="">Pesquisar por...</option>
                <option value="nm_cliente" selected>Nome</option>
                <option value="CGC">CPF/CNPJ</option>
              </select>
              <label for="Filtro de Pesquisa">Critério de Pesquisa</label>
            </div>
          </div>
          

          <div id="divPagination" class="d-flex justify-content-center">
            
          </div>
          
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>CPF/CNPJ</th>
                  <th>E-mail</th>
                  <th>Telefone</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="listaClientes">
                
                <tr>
                  <td>Atualize a página...</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <!-- clientes -->
              </tbody>
            </table>
          </div>
           
          <br><br>

          <div class="modal fade" id="editarClienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarClienteModalLabel">Editar dados do Cliente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome" class="form-label">Nome:</label>
                                <input type="text" class="form-control" id="editarNome">
                            </div>
                            <div class="mb-3">
                                <label for="cpf_cnpj" class="form-label">CPF/CNPJ:</label>
                                <input type="text" class="form-control" id="editarCgc">
                            </div>
                            <div class="mb-3">
                                <label for="telefone" class="form-label">Telefone:</label>
                                <input type="text" class="form-control" id="editarTelefone">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="editarEmail">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    
  
    
    

    </div>

    <script src="/scripts/form_cadastra_cliente.js"></script>




