<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abertura de Ordem de Serviço de Manutenção</title>
    <!-- Importação do Bootstrap 5 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Abrir ordem de Serviço de Manutenção</h1>
        <form class="row g-3">
            <!-- Marca da Bateria -->
            <div class="col-md-4 mb-3">
                <label for="marcaBateria" class="form-label">Marca da Bateria</label>
                <input type="text" class="form-control" id="marcaBateria" required>
            </div>

            <!-- Tipo -->
            <div class="col-md-4 mb-3">
                <label for="tipoBateria" class="form-label">Tipo</label>
                <select class="form-select" id="tipoBateria" required>
                    <option value="">Selecione um tipo...</option>
                    <option value="Bateria Selada">Bateria Selada</option>
                    <option value="Bateria Estacionária">Bateria Estacionária</option>
                    <option value="Bateria de Carro">Bateria de Carro</option>
                </select>
            </div>

            <!-- Número da Garantia -->
            <div class="col-md-4 mb-3">
                <label for="numGarantia" class="form-label">Número da Garantia</label>
                <input type="text" class="form-control" id="numGarantia">
            </div>

            <!-- Modelo -->
            <div class="col-md-4 mb-3">
                <label for="modeloBateria" class="form-label">Modelo</label>
                <input type="text" class="form-control" id="modeloBateria">
            </div>

            <!-- Empréstimo da Bateria -->
            <div class="col-md-4 mb-3">
                <label class="form-check-label">Empréstimo da Bateria</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="emprestimoBateria" id="emprestimoSim" value="sim">
                    <label class="form-check-label" for="emprestimoSim">
                        Sim
                    </label>
                </div>
                <div class="col-md-2 form-check">
                    <input class="form-check-input" type="radio" name="emprestimoBateria" id="emprestimoNao" value="nao" checked>
                    <label class="form-check-label" for="emprestimoNao">
                        Não
                    </label>
                </div>
            </div>

            <!-- Tipo de Veículo -->
            <div class="col-md-2 mb-3">
                <label class="form-label">Tipo de Veículo</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipoVeiculo" id="taxi" value="taxi">
                    <label class="form-check-label" for="taxi">
                        Táxi
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipoVeiculo" id="particular" value="particular" checked>
                    <label class="form-check-label" for="particular">
                        Particular
                    </label>
                </div>
            </div>

            
            <!-- Data de Entrada -->
            <div class="col-md-6 mb-3">
                <label for="dataEntrada" class="form-label">Data de Entrada</label>
                <input type="date" class="form-control" id="dataEntrada" required>
            </div>

            <!-- Data de Saída -->
            <div class="col-md-6 mb-3">
                <label for="dataSaida" class="form-label">Data de Saída</label>
                <input type="date" class="form-control" id="dataSaida">
            </div>

    
            <!-- Cliente -->
            <div class="col-md-6 mb-3">
                <label for="cliente" class="form-label">Cliente</label>
                <input type="text" class="form-control" id="cliente" required>
            </div>
    
            <!-- Telefone -->
            <div class="col-md-3 mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="telefone" required>
            </div>
    
            <!-- E-mail -->
            <div class="col-md-3 mb-3">
                <label for="email" class="form-label">E-mail do cliente</label>
                <input type="email" class="form-control" id="email" required>
            </div>
    
            <!-- Funcionário -->
            <div class="col-md-4 mb-3">
                <label for="funcionario" class="form-label">Funcionário</label>
                <input type="text" class="form-control" id="funcionario">
            </div>
    
            <!-- Botão de Envio -->
            <div class="text-center">
            <button type="submit" class="btn btn-primary col-md-4">Enviar</button>
            </div>
        </form>
    </div>
    
    <!-- Importação do JavaScript do Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    
