
<!-- FORMULÁRIO DE INCLUSÃO DE ITEN NO ESTOQUE -->
<!-- BATERIAS USADAS PARA EMPRÉSTIMO -->

    <div class="container">
        <h1 class="my-4 text-center">Cadastro de Itens</h1>
        <form id="cadastroItens" class="row g-3 mt-4">
            <div class="mb-3 form-floating col-md-12">
                <input type="text" class="form-control" id="nomeItem" placeholder="Digite o nome do item">
                <label for="nomeCliente">Nome do Item</label>
            </div>
            <div class="form-floating col-md-6 mb-3">
                <input type="text" class="form-control" id="referencia" placeholder="Digite a referência do item">
                <label for="cpfCnpj">Referência</label>
            </div>
            <div class="col-md-6 mb-3 form-floating">
                <input type="text" class="form-control" id="tipo" placeholder="Digite o tipo">
                <label for="contato">Tipo</label>
            </div>
            <div class="text-center">   
                <button type="submit" class="btn btn-primary col-md-4 p-2">Cadastrar</button>
            </div>
        </form>
    </div>

