.background-image {
    background-repeat:no-repeat;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-image: url('../static/img/logo-itlux-verde.jpg');
    height: 1000px;
    width: 1500px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);

}